In [62]:
#library umum
import numpy as np
import pandas as pd
import gdown
import os 
from random import sample
import random
random.seed(43)
import shutil
from shutil import copyfile
from tqdm.notebook import tqdm
import uuid

In [63]:
#library image processing
import cv2
from PIL import Image
import skimage
from skimage import io
from skimage.transform import resize
from skimage.transform import rotate, AffineTransform, warp
from skimage import img_as_ubyte
from skimage.exposure import adjust_gamma
from skimage.util import random_noise

In [339]:
# libraray untuk pembangunan model
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator, load_img, img_to_array
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Dropout, BatchNormalization, LeakyReLU
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers.schedules import ExponentialDecay
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau

# Data Preparation
menyiapkan data untuk dapat digunakan dalam pelatihan
disini kami menyiapkan data dengan mensetting dan melabeli data agar lebih jelas dan mudah unutk diinterpretasikan

In [65]:
url = "https://drive.google.com/uc?id=1TbHce2SU-W_Fr2hMjN9E_WhC_1R9M182"
output = 'Penyisihan_Hology_Data_Mining.zip'
gdown.download(url, output, quiet=False)
shutil.unpack_archive(output)
os.remove(output)

Downloading...
From: https://drive.google.com/uc?id=1TbHce2SU-W_Fr2hMjN9E_WhC_1R9M182
To: c:\Users\User\Documents\hehehe\penyisihan_hology\Penyisihan_Hology_Data_Mining.zip
100%|██████████| 10.2M/10.2M [00:03<00:00, 2.73MB/s]

In [66]:
train_df = pd.read_csv('Penyisihan Hology Data Mining/train.csv')
train_df.head()

   id  jenis  warna
0   1      1      1
1   2      0      2
2   3      1      3
3   4      1      1
4   5      0      4

In [67]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      777 non-null    int64
 1   jenis   777 non-null    int64
 2   warna   777 non-null    int64
dtypes: int64(3)
memory usage: 18.3 KB

In [68]:
train_df['jenis_1'] = train_df['jenis'].apply(lambda x: 'Kaos' if x == 0 else 'Hoodie')

In [69]:
train_df['warna_1'] = train_df['warna'].apply(lambda x: 
                                              'merah' if x == 0 else
                                              'kuning' if x == 1 else
                                              'biru' if x == 2 else
                                              'hitam' if x == 3 else
                                              'putih')

In [70]:
train_df.head(20)

    id  jenis  warna jenis_1 warna_1
0    1      1      1  Hoodie  kuning
1    2      0      2    Kaos    biru
2    3      1      3  Hoodie   hitam
3    4      1      1  Hoodie  kuning
4    5      0      4    Kaos   putih
5    6      1      3  Hoodie   hitam
6    7      0      4    Kaos   putih
7    8      1      2  Hoodie    biru
8    9      1      3  Hoodie   hitam
9   10      1      0  Hoodie   merah
10  11      1      0  Hoodie   merah
11  12      1      0  Hoodie   merah
12  13      0      3    Kaos   hitam
13  14      0      2    Kaos    biru
14  15      0      4    Kaos   putih
15  16      0      1    Kaos  kuning
16  17      0      2    Kaos    biru
17  18      0      4    Kaos   putih
18  19      0      2    Kaos    biru
19  20      1      2  Hoodie    biru

In [71]:
# melihat persebaran data
train_df['jenis_1'].value_counts()

jenis_1
Kaos      476
Hoodie    301
Name: count, dtype: int64

In [72]:
train_df['warna_1'].value_counts()

warna_1
hitam     234
biru      162
putih     140
kuning    125
merah     116
Name: count, dtype: int64

In [73]:
train_df.groupby(['jenis_1', 'warna_1']).agg({
    'id' : 'nunique'
})
#terlihat bahwa persebaran data tidak seimbang antara satu jenis dengan jenis yang lain

                  id
jenis_1 warna_1
Hoodie  biru      59
        hitam    103
        kuning    54
        merah     36
        putih     49
Kaos    biru     103
        hitam    131
        kuning    71
        merah     80
        putih     91

mengambil path dan mengubah nama dari setiap file gambar pada folder train agar dapat lebih mudah untuk didentifikasi yang nantinya akan digunakan untuk data augmentation

In [74]:
file_path = "Penyisihan Hology Data Mining/train/"

In [75]:
img_name = list()

In [76]:
# mengambil nama file gambar pada data folder train
for path, subdir, files in os.walk(file_path):
    for name in files:
        img_name.append(name) #menyimpan hasil ke variabel list img_name

print (img_name)

['1.jpg', '10.jpg', '100.jpg', '101.jpg', '102.jpg', '103.jpg', '104.jpg', '105.jpg', '106.jpg', '107.jpg', '108.jpg', '109.jpg', '11.jpg', '110.jpg', '111.jpg', '112.jpg', '113.jpg', '114.jpg', '115.jpg', '116.jpg', '117.jpg', '118.png', '119.jpg', '12.jpg', '120.jpg', '121.jpg', '122.jpg', '123.jpg', '124.jpg', '125.jpg', '126.jpg', '127.png', '128.jpg', '129.jpg', '13.jpg', '130.jpg', '131.jpg', '132.jpg', '133.jpg', '134.jpg', '135.jpg', '136.jpg', '137.jpg', '138.png', '139.jpg', '14.jpg', '140.jpg', '141.jpg', '142.jpg', '143.jpg', '144.jpg', '145.jpg', '146.jpg', '147.jpg', '148.jpg', '149.jpg', '15.jpg', '150.jpg', '151.jpg', '152.jpg', '153.jpg', '154.jpg', '155.jpg', '156.jpg', '157.jpg', '158.jpg', '159.jpg', '16.jpg', '160.jpg', '161.jpg', '162.jpg', '163.jpg', '164.jpg', '165.jpg', '166.jpg', '167.jpg', '168.jpg', '169.jpg', '17.jpg', '170.jpg', '171.jpg', '172.jpg', '173.jpg', '174.jpg', '175.jpg', '176.jpg', '177.jpg', '178.jpg', '179.jpg', '18.png', '180.jpg', '181.jpg', '182.jpg', '183.jpg', '184.png', '185.jpg', '186.jpg', '187.jpg', '188.jpg', '189.png', '19.jpg', '190.jpg', '191.jpg', '192.jpg', '193.jpg', '194.jpg', '195.png', '196.jpg', '197.jpg', '198.jpg', '199.jpg', '2.jpg', '20.jpg', '200.jpg', '201.jpg', '202.jpg', '203.jpg', '204.jpg', '205.jpg', '206.jpg', '207.png', '208.jpg', '209.jpg', '21.jpg', '210.jpg', '211.jpg', '212.jpg', '213.jpg', '214.jpg', '215.jpg', '216.jpg', '217.jpg', '218.jpg', '219.png', '22.jpg', '220.jpg', '221.jpg', '222.jpg', '223.jpg', '224.jpg', '225.jpg', '226.png', '227.jpg', '228.jpg', '229.jpg', '23.jpg', '230.jpg', '231.jpg', '232.jpg', '233.jpg', '234.jpg', '235.jpg', '236.jpg', '237.jpg', '238.jpg', '239.jpg', '24.jpg', '240.jpg', '241.jpg', '242.jpg', '243.png', '244.jpg', '245.jpg', '246.jpg', '247.jpg', '248.jpg', '249.jpg', '25.jpg', '250.jpg', '251.jpg', '252.png', '253.jpg', '254.jpg', '255.jpg', '256.jpg', '257.jpg', '258.jpg', '259.jpg', '26.jpg', '260.jpg', '261.jpg', '262.jpg', '263.jpg', '264.jpg', '265.jpg', '266.jpg', '267.jpg', '268.jpg', '269.jpg', '27.jpg', '270.jpg', '271.jpg', '272.jpg', '273.jpg', '274.jpg', '275.jpg', '276.jpg', '277.jpg', '278.jpg', '279.jpg', '28.jpg', '280.jpg', '281.jpg', '282.jpg', '283.jpg', '284.jpg', '285.jpg', '286.jpg', '287.jpg', '288.png', '289.jpg', '29.png', '290.jpg', '291.jpg', '292.jpg', '293.jpg', '294.jpg', '295.jpg', '296.jpg', '297.jpg', '298.png', '299.jpg', '3.jpg', '30.jpg', '300.jpg', '301.jpg', '302.jpg', '303.jpg', '304.jpg', '305.jpg', '306.jpg', '307.jpg', '308.jpg', '309.jpg', '31.png', '310.jpg', '311.jpg', '312.jpg', '313.png', '314.jpg', '315.jpg', '316.png', '317.jpg', '318.jpg', '319.jpg', '32.jpg', '320.jpg', '321.jpg', '322.jpg', '323.jpg', '324.jpg', '325.jpg', '326.jpg', '327.jpg', '328.jpg', '329.png', '33.jpg', '330.jpg', '331.jpg', '332.jpg', '333.png', '334.jpg', '335.jpg', '336.jpg', '337.jpg', '338.jpg', '339.jpg', '34.jpg', '340.jpg', '341.jpg', '342.jpg', '343.jpg', '344.jpg', '345.jpg', '346.jpg', '347.jpg', '348.jpg', '349.jpg', '35.jpg', '350.jpg', '351.jpg', '352.jpg', '353.jpg', '354.jpg', '355.jpg', '356.jpg', '357.jpg', '358.png', '359.jpg', '36.jpg', '360.jpg', '361.jpg', '362.jpg', '363.jpg', '364.jpg', '365.jpg', '366.jpg', '367.jpg', '368.jpg', '369.jpg', '37.jpg', '370.jpg', '371.jpg', '372.jpg', '373.jpg', '374.jpg', '375.jpg', '376.jpg', '377.jpg', '378.jpg', '379.jpg', '38.jpg', '380.png', '381.jpg', '382.jpg', '383.jpg', '384.jpg', '385.jpg', '386.jpg', '387.jpg', '388.jpg', '389.jpg', '39.jpg', '390.jpg', '391.jpg', '392.jpg', '393.png', '394.png', '395.jpg', '396.jpg', '397.jpg', '398.jpg', '399.jpg', '4.jpg', '40.jpg', '400.jpg', '401.jpg', '402.jpg', '403.png', '404.jpg', '405.jpg', '406.jpg', '407.jpg', '408.jpg', '409.jpg', '41.jpg', '410.jpg', '411.jpg', '412.jpg', '413.jpg', '414.jpg', '415.jpg', '416.jpg', '417.jpg', '418.jpg', '419.png', '42.jpg', '420.png', '421.jpg', '422.jpg', '423.jpg', '424.png', '425.jpg', '426.jpg', '427.jpg', '428.jpg', '429.jpg', '43.jpg', '430.jpg', '431.jpg', '432.jpg', '433.jpg', '434.jpg', '435.jpg', '436.jpg', '437.jpg', '438.jpg', '439.jpg', '44.jpg', '440.jpg', '441.jpg', '442.jpg', '443.jpg', '444.jpg', '445.jpg', '446.jpg', '447.jpg', '448.jpg', '449.jpg', '45.jpg', '450.jpg', '451.jpg', '452.jpg', '453.jpg', '454.jpg', '455.jpg', '456.jpg', '457.jpg', '458.jpg', '459.jpg', '46.jpg', '460.jpg', '461.jpg', '462.jpg', '463.jpg', '464.jpg', '465.jpg', '466.jpg', '467.jpg', '468.jpg', '469.jpg', '47.jpg', '470.jpg', '471.jpg', '472.jpg', '473.jpg', '474.jpg', '475.jpg', '476.png', '477.png', '478.jpg', '479.png', '48.jpg', '480.jpg', '481.jpg', '482.jpg', '483.jpg', '484.jpg', '485.png', '486.jpg', '487.png', '488.jpg', '489.jpg', '49.jpg', '490.jpg', '491.jpg', '492.jpg', '493.png', '494.jpg', '495.jpg', '496.jpg', '497.jpg', '498.jpg', '499.jpg', '5.jpg', '50.jpg', '500.jpg', '501.jpg', '502.jpg', '503.jpg', '504.jpg', '505.png', '506.jpg', '507.jpg', '508.jpg', '509.jpg', '51.jpg', '510.jpg', '511.png', '512.jpg', '513.jpg', '514.jpg', '515.png', '516.png', '517.jpg', '518.jpg', '519.jpg', '52.jpg', '520.jpg', '521.jpg', '522.jpg', '523.jpg', '524.png', '525.jpg', '526.jpg', '527.jpg', '528.jpg', '529.jpg', '53.jpg', '530.jpg', '531.jpg', '532.jpg', '533.jpg', '534.jpg', '535.jpg', '536.jpg', '537.png', '538.jpg', '539.jpg', '54.png', '540.jpg', '541.jpg', '542.jpg', '543.jpg', '544.jpg', '545.jpg', '546.jpg', '547.jpg', '548.jpg', '549.jpg', '55.jpg', '550.jpg', '551.jpg', '552.jpg', '553.jpg', '554.jpg', '555.jpg', '556.jpg', '557.jpg', '558.jpg', '559.jpg', '56.jpg', '560.jpg', '561.jpg', '562.jpg', '563.jpg', '564.jpg', '565.jpg', '566.jpg', '567.jpg', '568.jpg', '569.jpg', '57.png', '570.jpg', '571.jpg', '572.jpg', '573.jpg', '574.jpg', '575.jpg', '576.jpg', '577.jpg', '578.jpg', '579.jpg', '58.jpg', '580.jpg', '581.jpg', '582.jpg', '583.jpg', '584.jpg', '585.jpg', '586.jpg', '587.png', '588.jpg', '589.jpg', '59.jpg', '590.jpg', '591.png', '592.jpg', '593.jpg', '594.jpg', '595.png', '596.jpg', '597.jpg', '598.jpg', '599.jpg', '6.jpg', '60.jpg', '600.jpg', '601.jpg', '602.png', '603.jpg', '604.jpg', '605.jpg', '606.jpg', '607.jpg', '608.jpg', '609.jpg', '61.jpg', '610.jpg', '611.jpg', '612.jpg', '613.jpg', '614.jpg', '615.jpg', '616.jpg', '617.jpg', '618.jpg', '619.png', '62.jpg', '620.jpg', '621.jpg', '622.jpg', '623.jpg', '624.jpg', '625.jpg', '626.jpg', '627.jpg', '628.jpg', '629.jpg', '63.jpg', '630.jpg', '631.jpg', '632.png', '633.jpg', '634.jpg', '635.jpg', '636.jpg', '637.jpg', '638.jpg', '639.jpg', '64.jpg', '640.jpg', '641.jpg', '642.jpg', '643.jpg', '644.jpg', '645.jpg', '646.jpg', '647.png', '648.jpg', '649.jpg', '65.png', '650.jpg', '651.jpg', '652.jpg', '653.jpg', '654.jpg', '655.jpg', '656.jpg', '657.jpg', '658.png', '659.png', '66.jpg', '660.jpg', '661.jpg', '662.jpg', '663.jpg', '664.jpg', '665.jpg', '666.jpg', '667.jpg', '668.jpg', '669.jpg', '67.png', '670.jpg', '671.jpg', '672.jpg', '673.jpg', '674.jpg', '675.jpg', '676.jpg', '677.png', '678.jpg', '679.jpg', '68.jpg', '680.jpg', '681.jpg', '682.jpg', '683.png', '684.jpg', '685.jpg', '686.jpg', '687.jpg', '688.jpg', '689.jpg', '69.jpg', '690.jpg', '691.jpg', '692.jpg', '693.jpg', '694.jpg', '695.jpg', '696.jpg', '697.jpg', '698.jpg', '699.jpg', '7.jpg', '70.jpg', '700.jpg', '701.jpg', '702.jpg', '703.jpg', '704.jpg', '705.jpg', '706.jpg', '707.jpg', '708.jpg', '709.jpg', '71.jpg', '710.jpg', '711.jpg', '712.jpg', '713.jpg', '714.jpg', '715.jpg', '716.jpg', '717.jpg', '718.jpg', '719.jpg', '72.jpg', '720.jpg', '721.jpg', '722.jpg', '723.png', '724.jpg', '725.jpg', '726.jpg', '727.jpg', '728.jpg', '729.jpg', '73.png', '730.jpg', '731.jpg', '732.jpg', '733.jpg', '734.jpg', '735.jpg', '736.jpg', '737.jpg', '738.jpg', '739.jpg', '74.jpg', '740.jpg', '741.jpg', '742.png', '743.jpg', '744.jpg', '745.jpg', '746.jpg', '747.png', '748.jpg', '749.jpg', '75.jpg', '750.jpg', '751.jpg', '752.jpg', '753.jpg', '754.jpg', '755.jpg', '756.jpg', '757.jpg', '758.jpg', '759.jpg', '76.jpg', '760.jpg', '761.png', '762.jpg', '763.jpg', '764.jpg', '765.jpg', '766.jpg', '767.jpg', '768.jpg', '769.png', '77.jpg', '770.jpg', '771.jpg', '772.jpg', '773.jpg', '774.jpg', '775.jpg', '776.jpg', '777.jpg', '78.jpg', '79.jpg', '8.jpg', '80.png', '81.jpg', '82.jpg', '83.jpg', '84.jpg', '85.jpg', '86.jpg', '87.jpg', '88.jpg', '89.png', '9.jpg', '90.jpg', '91.jpg', '92.jpg', '93.jpg', '94.jpg', '95.jpg', '96.jpg', '97.jpg', '98.jpg', '99.jpg']

In [77]:
# membuat dataframe yang baru yang menampung hasil dari extract nama sebelumnya di filedf
file_df = pd.DataFrame({'filename': img_name})

#membuat column id untuk setiap nama file yang sudah didapatkan karena id sama dengan nama nomer nama file gambar yang ada
file_df['id'] = file_df['filename'].apply(lambda x: int(x.split('.')[0]))
file_df.head()

  filename   id
0    1.jpg    1
1   10.jpg   10
2  100.jpg  100
3  101.jpg  101
4  102.jpg  102

In [78]:
#menggabungkan train_df dengan file_df(dataframe nama file) sesuai dengan idnya
#hal ini dapat mengotomatisasi proses penambahan column filename ke train_df
train_df = pd.merge(train_df, file_df, on='id', how='inner')
train_df.head(10)

   id  jenis  warna jenis_1 warna_1 filename
0   1      1      1  Hoodie  kuning    1.jpg
1   2      0      2    Kaos    biru    2.jpg
2   3      1      3  Hoodie   hitam    3.jpg
3   4      1      1  Hoodie  kuning    4.jpg
4   5      0      4    Kaos   putih    5.jpg
5   6      1      3  Hoodie   hitam    6.jpg
6   7      0      4    Kaos   putih    7.jpg
7   8      1      2  Hoodie    biru    8.jpg
8   9      1      3  Hoodie   hitam    9.jpg
9  10      1      0  Hoodie   merah   10.jpg

In [79]:
df = train_df.drop(columns=['id', 'jenis', 'warna'])
df.head()

  jenis_1 warna_1 filename
0  Hoodie  kuning    1.jpg
1    Kaos    biru    2.jpg
2  Hoodie   hitam    3.jpg
3  Hoodie  kuning    4.jpg
4    Kaos   putih    5.jpg

# Data Augmentation
disini kami akan menambah kekurangan jumlah data pada beberapa kategori gambar yang ada agar data dapat seimbang atau tidak berbeda jauh dengan data yang lainnya

Daftar fungsi untuk melakukan data augmentation

In [80]:
# fungsi untuk merotasi gambar berlawanan arah jarum jam
def anticlockwise_rotation(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    sudut = random.randint(0, 180)
    return rotate(img, sudut)

In [81]:
# fungsi untuk merotasi gambar searah dengan jarum jam
def clockwise_rotation(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    sudut = random.randint(0, 180)
    return rotate(img, -sudut)

In [82]:
# Membuat fungsi untuk membalik gambar secara vertikal dari atas ke bawah
def flip_up_down(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    return np.flipud(img)

In [83]:
# fungsi untuk memberikanefek peningkatan kecerahan pada gambar
def  add_brightness(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    img = adjust_gamma(img, gamma=0.5, gain=1)
    return img

In [84]:
# fungsi untuk membuat blur gambar
def blur_image(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    return cv2.GaussianBlur(img, (9,9), 0)

In [85]:
# fungsi untuk menggeser gambar beberapa pixel
def sheared(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    transform = AffineTransform(shear=0.2)
    shear_image = warp(img, transform, mode="wrap")
    return shear_image

In [86]:
# fungsi untuk melakukan pergeseran melengkung pada gambar

def warp_shift(img):
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = cv2.resize(img, (224, 224))
    transform = AffineTransform(translation=(0, 40))
    warp_image = warp(img, transform, mode='wrap')
    return warp_image

In [87]:
#variabel transformasi yang akan menyimpan semua fungsi data augmentasi 
transformations = {
    'rotate anticlockwise': anticlockwise_rotation,
    'rotate clockwise' : clockwise_rotation,
    'warp shift':warp_shift,
    'blurring image': blur_image,
    'add brightness': add_brightness,
    'flip up down': flip_up_down,
    'shear image': sheared
}

In [88]:
def augmented(count, images, jenis, warna):
    master_path = "Penyisihan Hology Data Mining/train/"
    i = 1 # iterasi
    df1 = []
    for i in range(count):
        preimage = random.choice(images) # memilih gambar yang akan di augmented

        try:
            original_image = io.imread(os.path.join(file_path, preimage)) 
            transformed_image = None
            transformation_count = random.randint(1, len(transformations)) # memilih angka acak berapa banyak teknik transformasi yang akan dipake dari variabel transformasi
            
            #melakukan augmentasi gambar pada gambar yang sudah dipilih di orginial image
            for _ in range(transformation_count):
                key = random.choice(list(transformations))
                transformed_image = transformations[key](original_image) # menerapkan augmentasi gambar dari pemilihan fungsi augmentasi yang sebelumnya telah dibuat
        
            unique_id = uuid.uuid4().hex #generates random unique id for filename of new image
            new_image_path = f"{master_path}/T_{unique_id}_{preimage}" #memberikan path untuk gambar baru yang sudah di augmentasi (seperti memberi alamat untuk penyimpanan)
            transformed_image = img_as_ubyte(transformed_image) # mengonversi gambar ke format byte
            cv2.imwrite(new_image_path, transformed_image) # simpan gamber pada path sudah ditentukan

            # menambahkan juga data pada table secara otomatis
            new_row = {'jenis_1':jenis, 'warna_1':warna, 'filename':f'T_{unique_id}_{preimage}'}
            df1.append(new_row)
        # jika gambar tidak dapat dibuka maka akan diskip dan diganti dengan gambar selanjutnya
        except ValueError as e:
            print(f'could not read the {preimage} : {e} hence skipping it.')
    df1 = pd.DataFrame(df1)
    return df1

In [89]:
jenis = list(df['jenis_1'].unique())
warna = list(df['warna_1'].unique())

In [90]:
print (jenis)

['Hoodie', 'Kaos']

In [91]:
coba1 = df[df['jenis_1'] == 'Hoodie']['warna_1'].value_counts()
print (coba1.max())

103

In [92]:
max_count = 0
for x in jenis:
    for y in warna:
        if df[(df['jenis_1'] == x) & (df['warna_1'] == y)]['filename'].count() > max_count:
            max_count = df[(df['jenis_1'] == x) & (df['warna_1'] == y)]['filename'].count()

In [93]:
for x in jenis:
    for y in warna:
        minus = df[(df['jenis_1'] == x) & (df['warna_1'] == y)]['filename'].count()
        if minus < max_count:
            total = max_count - minus
            images = list(df[(df['jenis_1'] == x) & (df['warna_1'] == y)]['filename'])
            df1 = augmented(total, images, x, y)
            df = pd.concat([df, df1], ignore_index=True)

In [94]:
df.groupby(['jenis_1', 'warna_1']).agg({
    'filename':'nunique'
})

                 filename
jenis_1 warna_1
Hoodie  biru          131
        hitam         131
        kuning        131
        merah         131
        putih         131
Kaos    biru          131
        hitam         131
        kuning        131
        merah         131
        putih         131

In [95]:
df.tail()

     jenis_1 warna_1                                    filename
1305    Kaos   merah  T_3fc43cc7b9684a0daffdd109f3f90f05_403.png
1306    Kaos   merah  T_f831d001a1e44180b5c31342fa26407b_550.jpg
1307    Kaos   merah  T_4d5866bd65cf49d1a6e6f0f4eaeaca97_539.jpg
1308    Kaos   merah  T_304b6afece9a47b283516471cdbeb195_383.jpg
1309    Kaos   merah  T_6a7a14bff23b4926849ef3aabf77999c_663.jpg

#Multi hot encoding

In [96]:
# memberikan alamat lengkap setiap file gambar sesuai dengan filename dalam dataframe
df['path'] = df['filename'].apply(lambda x: f'{file_path}{x}')

In [97]:
# menghapus columns yang sudah tidak dipakai lagi yaitu column filename
df = df.drop(columns=['filename'])

In [98]:
df['jenis+warna'] = df.apply(lambda x: [x['jenis_1'], x['warna_1']], axis=1)

In [99]:
df.head(10)

,jenis_1,warna_1,path,jenis+warna
0,Hoodie,kuning,Penyisihan Hology Data Mining/train/1.jpg,"[Hoodie, kuning]"
1,Kaos,biru,Penyisihan Hology Data Mining/train/2.jpg,"[Kaos, biru]"
2,Hoodie,hitam,Penyisihan Hology Data Mining/train/3.jpg,"[Hoodie, hitam]"
3,Hoodie,kuning,Penyisihan Hology Data Mining/train/4.jpg,"[Hoodie, kuning]"
4,Kaos,putih,Penyisihan Hology Data Mining/train/5.jpg,"[Kaos, putih]"
5,Hoodie,hitam,Penyisihan Hology Data Mining/train/6.jpg,"[Hoodie, hitam]"
6,Kaos,putih,Penyisihan Hology Data Mining/train/7.jpg,"[Kaos, putih]"
7,Hoodie,biru,Penyisihan Hology Data Mining/train/8.jpg,"[Hoodie, biru]"
8,Hoodie,hitam,Penyisihan Hology Data Mining/train/9.jpg,"[Hoodie, hitam]"
9,Hoodie,merah,Penyisihan Hology Data Mining/train/10.jpg,"[Hoodie, merah]"

In [100]:
# melakukan multi hot encoding pada data multi label menggunakan MultiLabelBinarizer()
mlb = MultiLabelBinarizer()
multi_label = mlb.fit_transform(df['jenis+warna'])

In [101]:
label_class = mlb.classes_

In [102]:
df_multi_label = pd.DataFrame(multi_label, columns=label_class)
df_multi = pd.concat([df['path'], df_multi_label], axis=1)

In [103]:
df_multi.head()

,path,Hoodie,Kaos,biru,hitam,kuning,merah,putih
0,Penyisihan Hology Data Mining/train/1.jpg,1,0,0,0,1,0,0
1,Penyisihan Hology Data Mining/train/2.jpg,0,1,1,0,0,0,0
2,Penyisihan Hology Data Mining/train/3.jpg,1,0,0,1,0,0,0
3,Penyisihan Hology Data Mining/train/4.jpg,1,0,0,0,1,0,0
4,Penyisihan Hology Data Mining/train/5.jpg,0,1,0,0,0,0,1

# Build Model

In [104]:
label_columns = ['Hoodie', 'Kaos', 'biru', 'hitam', 'kuning', 'merah', 'putih']
multi_label = mlb.fit_transform(df_multi[label_columns].values.tolist())

In [368]:
# kami menggunakan banyak kombinasi pelatihan yang diatur oleh random state dimulai dari state 46
traindf, valdf, train_labels, val_labels = train_test_split(
    df_multi, multi_label, test_size=0.2, random_state=58, stratify=multi_label
)

In [321]:
print(traindf)

                                                   path  Hoodie  Kaos  biru  \
501         Penyisihan Hology Data Mining/train/502.jpg       1     0     1
1290  Penyisihan Hology Data Mining/train/T_c1e246c4...       0     1     0
475         Penyisihan Hology Data Mining/train/476.png       0     1     0
543         Penyisihan Hology Data Mining/train/544.jpg       0     1     1
511         Penyisihan Hology Data Mining/train/512.jpg       1     0     0
...                                                 ...     ...   ...   ...
723         Penyisihan Hology Data Mining/train/724.jpg       0     1     0
694         Penyisihan Hology Data Mining/train/695.jpg       0     1     0
736         Penyisihan Hology Data Mining/train/737.jpg       1     0     1
589         Penyisihan Hology Data Mining/train/590.jpg       0     1     0
949   Penyisihan Hology Data Mining/train/T_54b3144f...       1     0     0

      hitam  kuning  merah  putih
501       0       0      0      0
1290      0       0      1      0
475       0       1      0      0
543       0       0      0      0
511       0       1      0      0
...     ...     ...    ...    ...
723       0       0      1      0
694       0       0      1      0
736       0       0      0      0
589       0       0      0      1
949       1       0      0      0

[1048 rows x 8 columns]

In [322]:
def exact_match_ratio(y_true, y_pred):
    # Convert y_pred to binary values (0 or 1) for thresholded predictions
    y_pred = tf.round(y_pred)
    # Ensure both y_true and y_pred are of the same dtype
    y_true = tf.cast(y_true, tf.float32)
    # Check if each row (instance) exactly matches the corresponding row in y_true
    exact_match = tf.reduce_all(tf.equal(y_true, y_pred), axis=1)
    # Calculate mean of exact matches (1 if matches, 0 otherwise)
    return tf.reduce_mean(tf.cast(exact_match, tf.float32))

In [324]:
datagen = ImageDataGenerator(rescale=1./255)

In [369]:
train_gen = datagen.flow_from_dataframe(
    traindf,
    x_col = 'path',
    y_col = label_columns,
    target_size = (128, 128),
    color_mode = 'rgb',
    class_mode = 'raw',
    batch_size = 16
)

Found 1048 validated image filenames.

In [370]:
val_gen = datagen.flow_from_dataframe(
    valdf,
    x_col = 'path',
    y_col = label_columns,
    target_size = (128, 128),
    color_mode = 'rgb',
    class_mode = 'raw',
    batch_size = 16
)

Found 262 validated image filenames.

In [362]:
model = Sequential([
    Conv2D(32, (3,3), activation='relu', input_shape=(128, 128, 3)),
    BatchNormalization(),
    MaxPooling2D(pool_size=(2,2)),
    
    Conv2D(64, (3,3)),
    LeakyReLU(alpha=0.1),
    BatchNormalization(),
    MaxPooling2D(pool_size=(2,2)),
    Dropout(0.3),
    
    Conv2D(128, (3,3), activation='relu'),
    BatchNormalization(),
    MaxPooling2D(pool_size=(2,2)),
    Dropout(0.3),
    
    Conv2D(256, (3,3)),
    LeakyReLU(alpha=0.1),
    BatchNormalization(),
    MaxPooling2D(pool_size=(2,2)),
    Dropout(0.4),

    Conv2D(512, (3,3), activation='relu'),
    BatchNormalization(),
    
    Flatten(),
    
    Dense(512, activation='relu'),
    BatchNormalization(),
    Dropout(0.5),
    
    Dense(256, activation='relu'),
    Dropout(0.3),
    
    Dense(7, activation='sigmoid')
])

In [276]:
initial_learning_rate = 1e-4
decay_rate = 1
decay_steps = 1000

lr_schedule = ExponentialDecay(
    initial_learning_rate=initial_learning_rate,
    decay_steps=decay_steps,
    decay_rate=decay_rate,
    staircase=True
)

In [364]:
model.compile(optimizer=Adam(learning_rate=1e-3), loss='binary_crossentropy', metrics = [exact_match_ratio]) #'binary_accuracy'

In [348]:
callbacks = [
    ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=5,  min_lr=0.000001),
    #EarlyStopping(monitor='val_loss', patience=20, restore_best_weights=True)
]

In [371]:
history = model.fit(train_gen, validation_data=val_gen,epochs=30, batch_size=32,verbose=1, callbacks=callbacks)

Epoch 1/30

c:\Users\User\miniconda3\envs\project\Lib\site-packages\keras\src\trainers\data_adapters\py_dataset_adapter.py:121: UserWarning: Your `PyDataset` class should call `super().__init__(**kwargs)` in its constructor. `**kwargs` can include `workers`, `use_multiprocessing`, `max_queue_size`. Do not pass these arguments to `fit()`, as they will be ignored.
  self._warn_if_super_not_called()

66/66 ━━━━━━━━━━━━━━━━━━━━ 26s 398ms/step - exact_match_ratio: 0.9173 - loss: 0.0647 - val_exact_match_ratio: 0.9632 - val_loss: 0.0296 - learning_rate: 1.0000e-06
Epoch 2/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 445ms/step - exact_match_ratio: 0.9173 - loss: 0.0589 - val_exact_match_ratio: 0.9632 - val_loss: 0.0297 - learning_rate: 1.0000e-06
Epoch 3/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 463ms/step - exact_match_ratio: 0.9167 - loss: 0.0709 - val_exact_match_ratio: 0.9632 - val_loss: 0.0298 - learning_rate: 1.0000e-06
Epoch 4/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 32s 482ms/step - exact_match_ratio: 0.9129 - loss: 0.0627 - val_exact_match_ratio: 0.9596 - val_loss: 0.0298 - learning_rate: 1.0000e-06
Epoch 5/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 448ms/step - exact_match_ratio: 0.9042 - loss: 0.0678 - val_exact_match_ratio: 0.9632 - val_loss: 0.0298 - learning_rate: 1.0000e-06
Epoch 6/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 28s 415ms/step - exact_match_ratio: 0.9044 - loss: 0.0673 - val_exact_match_ratio: 0.9571 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 7/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 28s 419ms/step - exact_match_ratio: 0.9199 - loss: 0.0581 - val_exact_match_ratio: 0.9632 - val_loss: 0.0296 - learning_rate: 1.0000e-06
Epoch 8/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 27s 405ms/step - exact_match_ratio: 0.8784 - loss: 0.0693 - val_exact_match_ratio: 0.9632 - val_loss: 0.0296 - learning_rate: 1.0000e-06
Epoch 9/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 28s 421ms/step - exact_match_ratio: 0.9024 - loss: 0.0630 - val_exact_match_ratio: 0.9632 - val_loss: 0.0296 - learning_rate: 1.0000e-06
Epoch 10/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 28s 416ms/step - exact_match_ratio: 0.9040 - loss: 0.0623 - val_exact_match_ratio: 0.9571 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 11/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 27s 407ms/step - exact_match_ratio: 0.9125 - loss: 0.0612 - val_exact_match_ratio: 0.9596 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 12/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 29s 441ms/step - exact_match_ratio: 0.9157 - loss: 0.0627 - val_exact_match_ratio: 0.9596 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 13/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 27s 409ms/step - exact_match_ratio: 0.8910 - loss: 0.0704 - val_exact_match_ratio: 0.9632 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 14/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 446ms/step - exact_match_ratio: 0.9325 - loss: 0.0664 - val_exact_match_ratio: 0.9596 - val_loss: 0.0293 - learning_rate: 1.0000e-06
Epoch 15/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 27s 404ms/step - exact_match_ratio: 0.9223 - loss: 0.0525 - val_exact_match_ratio: 0.9632 - val_loss: 0.0294 - learning_rate: 1.0000e-06
Epoch 16/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 454ms/step - exact_match_ratio: 0.9154 - loss: 0.0591 - val_exact_match_ratio: 0.9534 - val_loss: 0.0292 - learning_rate: 1.0000e-06
Epoch 17/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 29s 436ms/step - exact_match_ratio: 0.9244 - loss: 0.0599 - val_exact_match_ratio: 0.9596 - val_loss: 0.0293 - learning_rate: 1.0000e-06
Epoch 18/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 33s 489ms/step - exact_match_ratio: 0.9141 - loss: 0.0561 - val_exact_match_ratio: 0.9473 - val_loss: 0.0293 - learning_rate: 1.0000e-06
Epoch 19/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 463ms/step - exact_match_ratio: 0.9184 - loss: 0.0603 - val_exact_match_ratio: 0.9632 - val_loss: 0.0294 - learning_rate: 1.0000e-06
Epoch 20/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 450ms/step - exact_match_ratio: 0.8746 - loss: 0.0861 - val_exact_match_ratio: 0.9596 - val_loss: 0.0294 - learning_rate: 1.0000e-06
Epoch 21/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 27s 403ms/step - exact_match_ratio: 0.9068 - loss: 0.0567 - val_exact_match_ratio: 0.9596 - val_loss: 0.0292 - learning_rate: 1.0000e-06
Epoch 22/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 32s 477ms/step - exact_match_ratio: 0.9333 - loss: 0.0535 - val_exact_match_ratio: 0.9596 - val_loss: 0.0291 - learning_rate: 1.0000e-06
Epoch 23/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 30s 457ms/step - exact_match_ratio: 0.9307 - loss: 0.0561 - val_exact_match_ratio: 0.9473 - val_loss: 0.0291 - learning_rate: 1.0000e-06
Epoch 24/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 461ms/step - exact_match_ratio: 0.9201 - loss: 0.0622 - val_exact_match_ratio: 0.9596 - val_loss: 0.0292 - learning_rate: 1.0000e-06
Epoch 25/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 461ms/step - exact_match_ratio: 0.9343 - loss: 0.0570 - val_exact_match_ratio: 0.9596 - val_loss: 0.0295 - learning_rate: 1.0000e-06
Epoch 26/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 460ms/step - exact_match_ratio: 0.9164 - loss: 0.0618 - val_exact_match_ratio: 0.9534 - val_loss: 0.0291 - learning_rate: 1.0000e-06
Epoch 27/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 33s 491ms/step - exact_match_ratio: 0.9265 - loss: 0.0577 - val_exact_match_ratio: 0.9412 - val_loss: 0.0292 - learning_rate: 1.0000e-06
Epoch 28/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 31s 460ms/step - exact_match_ratio: 0.9093 - loss: 0.0704 - val_exact_match_ratio: 0.9596 - val_loss: 0.0294 - learning_rate: 1.0000e-06
Epoch 29/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 32s 483ms/step - exact_match_ratio: 0.9134 - loss: 0.0628 - val_exact_match_ratio: 0.9596 - val_loss: 0.0292 - learning_rate: 1.0000e-06
Epoch 30/30
66/66 ━━━━━━━━━━━━━━━━━━━━ 32s 477ms/step - exact_match_ratio: 0.8923 - loss: 0.0723 - val_exact_match_ratio: 0.9596 - val_loss: 0.0292 - learning_rate: 1.0000e-06

In [166]:
model.save('saved_model_new/my_model4_final.keras')

# Data Preparation Test
disini kami menyiapakan format data yang sesuai untuk digunakan dalam pengujian model proses hampir sama dengan dataframe.

In [205]:
test_file_path = 'Penyisihan Hology Data Mining/test/'
test_df = pd.read_csv('Penyisihan Hology Data Mining/sample_submission.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      334 non-null    int64
 1   jenis   334 non-null    int64
 2   warna   334 non-null    int64
dtypes: int64(3)
memory usage: 8.0 KB

In [206]:
test_df.head(20)

     id  jenis  warna
0   778      0      0
1   779      0      0
2   780      0      0
3   781      0      0
4   782      0      0
5   783      0      0
6   784      0      0
7   785      0      0
8   786      0      0
9   787      0      0
10  788      0      0
11  789      0      0
12  790      0      0
13  791      0      0
14  792      0      0
15  793      0      0
16  794      0      0
17  795      0      0
18  796      0      0
19  797      0      0

In [208]:
# membuang bagian yang tidak dipakai lagi
test_df.drop(columns=['jenis', 'warna'], inplace=True)

In [209]:
test_df.head()

    id
0  778
1  779
2  780
3  781
4  782

In [210]:
test_img_name = list()

In [211]:
# mengambil nama file gambar pada data folder test
for path, subdir, files in os.walk(test_file_path):
    for name in files:
        test_img_name.append(name) #menyimpan hasil ke variabel list test_img_name

In [215]:
print(test_img_name)

['1000.jpg', '1001.jpg', '1002.jpg', '1003.png', '1004.jpg', '1005.jpg', '1006.png', '1007.jpg', '1008.png', '1009.jpg', '1010.jpg', '1011.jpg', '1012.jpg', '1013.jpg', '1014.jpg', '1015.jpg', '1016.jpg', '1017.jpg', '1018.jpg', '1019.jpg', '1020.jpg', '1021.jpg', '1022.png', '1023.jpg', '1024.jpg', '1025.jpg', '1026.png', '1027.jpg', '1028.jpg', '1029.jpg', '1030.png', '1031.png', '1032.jpg', '1033.jpg', '1034.jpg', '1035.jpg', '1036.png', '1037.jpg', '1038.jpg', '1039.jpg', '1040.jpg', '1041.png', '1042.png', '1043.jpg', '1044.jpg', '1045.jpg', '1046.jpg', '1047.jpg', '1048.jpg', '1049.jpg', '1050.jpg', '1051.jpg', '1052.jpg', '1053.png', '1054.jpg', '1055.jpg', '1056.png', '1057.jpg', '1058.jpg', '1059.jpg', '1060.jpg', '1061.png', '1062.jpg', '1063.jpg', '1064.jpg', '1065.png', '1066.png', '1067.jpg', '1068.jpg', '1069.jpg', '1070.jpg', '1071.jpg', '1072.png', '1073.jpg', '1074.jpg', '1075.jpg', '1076.png', '1077.jpg', '1078.jpg', '1079.jpg', '1080.jpg', '1081.jpg', '1082.jpg', '1083.jpg', '1084.jpg', '1085.jpg', '1086.jpg', '1087.jpg', '1088.jpg', '1089.jpg', '1090.jpg', '1091.jpg', '1092.jpg', '1093.jpg', '1094.jpg', '1095.jpg', '1096.jpg', '1097.jpg', '1098.jpg', '1099.jpg', '1100.jpg', '1101.jpg', '1102.jpg', '1103.jpg', '1104.jpg', '1105.png', '1106.jpg', '1107.jpg', '1108.jpg', '1109.jpg', '1110.jpg', '1111.jpg', '778.png', '779.jpg', '780.jpg', '781.jpg', '782.jpg', '783.jpg', '784.jpg', '785.jpg', '786.jpg', '787.jpg', '788.jpg', '789.jpg', '790.jpg', '791.jpg', '792.jpg', '793.jpg', '794.jpg', '795.jpg', '796.jpg', '797.jpg', '798.jpg', '799.jpg', '800.jpg', '801.jpg', '802.jpg', '803.jpg', '804.jpg', '805.jpg', '806.jpg', '807.jpg', '808.jpg', '809.jpg', '810.jpg', '811.jpg', '812.jpg', '813.jpg', '814.jpg', '815.jpg', '816.jpg', '817.jpg', '818.jpg', '819.jpg', '820.jpg', '821.jpg', '822.jpg', '823.jpg', '824.jpg', '825.jpg', '826.jpg', '827.jpg', '828.jpg', '829.jpg', '830.jpg', '831.jpg', '832.jpg', '833.jpg', '834.png', '835.jpg', '836.jpg', '837.png', '838.jpg', '839.png', '840.jpg', '841.jpg', '842.jpg', '843.jpg', '844.jpg', '845.jpg', '846.jpg', '847.png', '848.jpg', '849.png', '850.jpg', '851.jpg', '852.png', '853.jpg', '854.jpg', '855.jpg', '856.jpg', '857.jpg', '858.jpg', '859.jpg', '860.jpg', '861.jpg', '862.png', '863.jpg', '864.jpg', '865.jpg', '866.jpg', '867.jpg', '868.jpg', '869.jpg', '870.jpg', '871.jpg', '872.png', '873.png', '874.jpg', '875.jpg', '876.jpg', '877.jpg', '878.jpg', '879.jpg', '880.jpg', '881.jpg', '882.jpg', '883.jpg', '884.png', '885.jpg', '886.jpg', '887.jpg', '888.jpg', '889.jpg', '890.jpg', '891.jpg', '892.jpg', '893.jpg', '894.jpg', '895.jpg', '896.jpg', '897.jpg', '898.jpg', '899.jpg', '900.jpg', '901.jpg', '902.jpg', '903.jpg', '904.jpg', '905.png', '906.jpg', '907.jpg', '908.jpg', '909.jpg', '910.jpg', '911.jpg', '912.jpg', '913.jpg', '914.jpg', '915.jpg', '916.jpg', '917.png', '918.jpg', '919.png', '920.jpg', '921.jpg', '922.jpg', '923.png', '924.jpg', '925.jpg', '926.jpg', '927.jpg', '928.jpg', '929.jpg', '930.jpg', '931.jpg', '932.jpg', '933.jpg', '934.jpg', '935.jpg', '936.png', '937.png', '938.png', '939.jpg', '940.jpg', '941.jpg', '942.jpg', '943.jpg', '944.jpg', '945.jpg', '946.jpg', '947.jpg', '948.jpg', '949.jpg', '950.jpg', '951.jpg', '952.jpg', '953.jpg', '954.jpg', '955.jpg', '956.jpg', '957.jpg', '958.jpg', '959.jpg', '960.jpg', '961.jpg', '962.jpg', '963.jpg', '964.jpg', '965.jpg', '966.jpg', '967.jpg', '968.jpg', '969.jpg', '970.jpg', '971.jpg', '972.jpg', '973.jpg', '974.jpg', '975.jpg', '976.jpg', '977.jpg', '978.jpg', '979.jpg', '980.png', '981.jpg', '982.jpg', '983.jpg', '984.png', '985.jpg', '986.jpg', '987.jpg', '988.jpg', '989.jpg', '990.jpg', '991.jpg', '992.jpg', '993.jpg', '994.jpg', '995.jpg', '996.jpg', '997.jpg', '998.jpg', '999.jpg']

In [216]:
# membuat dataframe yang baru yang menampung hasil dari extract nama sebelumnya di filedf
test_file_df = pd.DataFrame({'filename': test_img_name})

# membuat column id untuk setiap nama file yang sudah didapatkan karena id sama dengan nama nomer nama file gambar yang ada
test_file_df['id'] = test_file_df['filename'].apply(lambda x: int(x.split('.')[0]))

In [217]:
test_file_df.head(10)

   filename    id
0  1000.jpg  1000
1  1001.jpg  1001
2  1002.jpg  1002
3  1003.png  1003
4  1004.jpg  1004
5  1005.jpg  1005
6  1006.png  1006
7  1007.jpg  1007
8  1008.png  1008
9  1009.jpg  1009

In [218]:
#menggabungkan test_df dengan test_file_df(dataframe nama file) sesuai dengan idnya
# kegiatan yang sama sebelumnya pada train_df
test_df = pd.merge(test_df, test_file_df, on='id', how='inner')

In [219]:
# memberikan alamat lengkap setiap file gambar sesuai dengan filename dalam dataframe
test_df['path'] = test_df['filename'].apply(lambda x: f'{test_file_path}{x}')

# menghapus columns yang sudah tidak dipakai lagi yaitu column filename
test_df.drop(columns=['filename'], inplace=True)

In [220]:
test_df.head(10)

    id                                        path
0  778  Penyisihan Hology Data Mining/test/778.png
1  779  Penyisihan Hology Data Mining/test/779.jpg
2  780  Penyisihan Hology Data Mining/test/780.jpg
3  781  Penyisihan Hology Data Mining/test/781.jpg
4  782  Penyisihan Hology Data Mining/test/782.jpg
5  783  Penyisihan Hology Data Mining/test/783.jpg
6  784  Penyisihan Hology Data Mining/test/784.jpg
7  785  Penyisihan Hology Data Mining/test/785.jpg
8  786  Penyisihan Hology Data Mining/test/786.jpg
9  787  Penyisihan Hology Data Mining/test/787.jpg

# Model test

In [225]:
THRESHOLD = 0.5

def make_predictions(model, test_df, image_size=(128, 128)):
    # Prepare a dictionary to store prediction results
    predictions = {
        'id': [],
        'jenis': [],
        'warna': []
    }
    
    # Iterate through the test DataFrame
    for idx, row in test_df.iterrows():
        img_id = row['id']
        img_path = row['path']
        
        # Load and preprocess the image
        img = load_img(img_path, target_size=image_size)
        img_array = img_to_array(img) / 255.0
        img_array = np.expand_dims(img_array, axis=0)
        
        # Get the prediction
        pred = model.predict(img_array)[0]
        
        # Apply threshold to each label in the prediction
        binary_pred = (pred > THRESHOLD).astype(int)
        
        # susunan table Hoodie = 1, kaos = 0, biru = 2, hitam = 3, kuning = 1, merah = 0, putih =4
        # Determine `jenis` label
        jenis_pred = 1 if binary_pred[0] == 1 else (0 if binary_pred[1] == 1 else None)
        
        # Determine `warna` label based on color columns
        warna_pred = None
        if binary_pred[2] == 1:
            warna_pred = 2  # biru
        elif binary_pred[3] == 1:
            warna_pred = 3  # hitam
        elif binary_pred[4] == 1:
            warna_pred = 1  # kuning
        elif binary_pred[5] == 1:
            warna_pred = 0  # merah
        elif binary_pred[6] == 1:
            warna_pred = 4  # putih
        
        # Append results
        predictions['id'].append(img_id)
        predictions['jenis'].append(jenis_pred)
        predictions['warna'].append(warna_pred)
    
    # Convert predictions to DataFrame
    predictions_df = pd.DataFrame(predictions)
    
    return predictions_df

In [372]:
submission_df = make_predictions(model, test_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 240ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 68ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 93ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 89ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step

In [229]:
submission_df.tail(20)

       id  jenis  warna
314  1092    0.0    2.0
315  1093    0.0    0.0
316  1094    1.0    1.0
317  1095    1.0    4.0
318  1096    0.0    4.0
319  1097    0.0    3.0
320  1098    0.0    1.0
321  1099    1.0    3.0
322  1100    1.0    4.0
323  1101    0.0    3.0
324  1102    0.0    4.0
325  1103    1.0    4.0
326  1104    1.0    0.0
327  1105    1.0    0.0
328  1106    1.0    3.0
329  1107    0.0    0.0
330  1108    0.0    2.0
331  1109    1.0    2.0
332  1110    0.0    3.0
333  1111    1.0    0.0

In [373]:
submission_df['jenis'] = submission_df['jenis'].fillna(0).astype(int)
submission_df['warna'] = submission_df['warna'].fillna(0).astype(int)

In [374]:
submission_df.to_csv('submission.csv', index=False)